.container-fluid {
    height: 100vh;
  }
  
  .left-section {
    background-color: #03045f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-section .logo-container img {
    max-width: 100%;
    height: auto;
  }
  
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
  }
  
  .toggle-password:hover {
    color: #007bff;
  }
  
 