<div class="container-fluid d-flex p-0 position-relative">
  <!-- Section gauche -->
  <div class="col-md-6 left-section d-flex align-items-center justify-content-center">
    <div class="logo-container">
      <img src="../assets/logo.png" alt="Yakar Logo" class="logo" />
    </div>
  </div>

  <!-- Section droite avec la carte de connexion -->
  <div class="col-md-6 right-section d-flex flex-column align-items-center position-relative">
    <!-- Bouton Retour -->
    <button
      class="btn btn-outline-primary btn-sm position-absolute top-0 end-0 m-3"
      (click)="navigateToLogin()"
    >
      <i class="fas fa-arrow-left me-2"></i> Retour à la connexion
    </button>

    <!-- Carte de connexion -->
    <div class="card shadow p-5 mt-5">
      <div class="card-body">
        <h2 class="text-center mb-4" style="color: #50ABE4;">Connexion</h2>
        
        <!-- Champ Code Secret -->
        <div class="mb-3">
          <label for="codeSecret" class="form-label">Entrez votre Code Secret</label>
          <div class="input-group position-relative">
            <input
            [type]="showCodeSecret ? 'text' : 'password'"
            id="codeSecret"
            class="form-control text-center"
            [(ngModel)]="codeSecret"
            placeholder="Code Secret"
            (input)="onCodeInput()"
            (keypress)="allowOnlyNumbers($event)"  
          />
          
            <!-- Icône œil -->
            <i
              [ngClass]="showCodeSecret ? 'fas fa-eye' : 'fas fa-eye-slash'"
              class="toggle-password position-absolute"
              style="right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;"
              (click)="togglePasswordVisibility()"
            ></i>
          </div>
        </div>

        <!-- Messages d'erreur -->
        <div *ngIf="errorMessage" class="text-danger mt-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
